{% extends 'base.html.twig' %}

{% block title %}Activate Account{% endblock %}

{% block body %}

    <h1>Zanim aktywujesz konto musisz uzupełnić parę informacji o swojej grupie</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.adres) }}
    {{ form_row(form.telefon) }}
    {{ form_row(form.description) }}

    <button type="submit" class="btn">Aktywuj</button>

    {{ form_end(form) }}

{% endblock %}