<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/blog-home.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
        <link rel="stylesheet" href="{{ asset('assets/css/Style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
        <link href="https://www.sowecms.com/demos/gModal/assets/prism.css" rel="stylesheet" type="text/css" />
        <link href={{ asset('assets/css/gModal.min.css') }} rel="stylesheet" type="text/css" />




    {% endblock %}
</head>
<body>
{% set flashesbag = app.flashes %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" >{{ "Statyści"|trans }}</a>

    </div>
    <div class="col-3 col-sm-2 col-md-1 col-lg-1">
        <div class="language-switcher">

            {% set route = app.request.attributes.get('_route') %}
            {% set route_params = app.request.attributes.get('_route_params') %}
            {% set params = route_params|merge(app.request.query.all) %}

            {% if app.request.get('_locale') == 'en' %}
                <a class="language-switcher__btn" href="{{ path(route, params|merge({ _locale: 'pl'})) }}">
                    <img src="{{ asset('assets/images/general/flags/poland.svg') }}" alt="pl">
                </a>
            {% else %}
                <a class="language-switcher__btn" href="{{ path(route, params|merge({ _locale: 'en' })) }}">
                    <img src="{{ asset('assets/images/general/flags/united-kingdom.svg') }}" alt="en">
                </a>
            {% endif %}

        </div>
    </div>

</nav>


{% block body %}
    <div class="container h-100">
        {% if flashesbag.success is defined %}
            <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                <p>{{ flashesbag.success[0] }}</p>
            </div>
        {% endif %}

        {% if flashesbag.error is defined %}
            <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                <p>{{ flashesbag.error[0] }}</p>
            </div>
        {% endif %}
        <div class="row align-items-center h-50">
            <div class="col-6 mx-auto text-center">
                <a href="{{ path('app_login') }}">
                    <div class="card w-75 text-light bg-dark">
                        <div class="card-body ">
                            <h2 class="card-title">{{ "Zaloguj się"|trans }}</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row align-items-center h-25">
            <div class="col-6 mx-auto">
                <div class="card w-75 text-light bg-dark text-center">
                    <div class="card-body">
                        <h2 class="card-title">{{ "Zarejestruj się"|trans }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-25 ">
            <div class="col-5 offset-1">
                <a href="{{ path('user_register')}}">
                    <div class="card w-75 text-light bg-dark text-center">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <h5 class="card-title">{{ "Jestem kandydatem"|trans }}</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-5">
                <a href="{{ path('groups_register')}}">
                    <div class="card w-75 text-light bg-dark text-center">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <h5 class="card-title">{{ "Jestem grupą"|trans }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{%  endblock %}
</div>
</body>
</html>
