{% extends 'baseGroupe.html.twig' %}
{% set flashesbag = app.flashes %}

{% block title %}Log in!{% endblock %}
{% block body %}

    <div class="container">
    <div class="row">
    <div class="col">
    </div>
    <div class="text-center">
    {% if flashesbag.success is defined %}
        <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
            <p>{{ flashesbag.success[0] }}</p>
        </div>
    {% endif %}

    {% if flashesbag.error is defined %}
        <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
            <p>{{ flashesbag.error[0] }}</p>
        </div>
    {% endif %}


    {{ form_start(form) }}
    {{ form_row(form.growthMin) }}
        {{ form_row(form.growthMax) }}
        {{ form_row(form.physique) }}
        {{ form_row(form.hair_length) }}
        {{ form_row(form.hair_color) }}
        {{ form_row(form.eye_color) }}
        {{ form_row(form.sex) }}
        {{ form_row(form.AgeMin) }}
        {{ form_row(form.AgeMax) }}

    <button type="submit" class="btn"> szukaj</button>
    {{ form_end(form) }}

    </div>    <div class="col">
        </div>
    </div>
    </div>
{% endblock %}