{% extends 'baseGroupe.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}

    <div class="container">
        <div class="row">

            {% if flashesbag.success is defined %}
                <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                    <p>{{ flashesbag.success[0] }}</p>
                </div>
            {% endif %}

            {% if candidates == null %}
            <p>brak wyników wyszukiwaia</p>
            {% else %}
            {% for candidate in candidates %}
                <div class="col-5 mx-auto bg-dark border border-dark shadow my-3 p-2">
                    <div class="d-inline-block">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="{{ asset(candidate.user.photo) }}" alt=""/>
                                </div>
                            </div>
                    </div>
                   <strong>Imię: {{ candidate.Surname }}</strong>
                    <p>Wzrost: {{ candidate.growth }}</p>
                    <p>Sylwetka: {{ candidate.physique }}</p>
                    <p>Rodzaj włosów: {{ candidate.hairLength }}</p>
                    <p>Kolor włosów: {{ candidate.hairColor }}</p>
                    <p>Kolor oczu: {{ candidate.eyeColor }}</p>
                    <p>Wiek: {{ candidate.age }}</p>
                    {% if app.request.get('_locale') == 'en' %}
                    <p>Płeć: {{ candidate.sex }}</p>
                    {% else %}
                        {%  if  candidate.sex == 'woman' %}
                        <p>Płeć: Kobieta</p>
                        {% else %}
                            <p>Płeć: Meżczyzna</p>
                            {% endif %}{% endif %}
                            <button id="Button{{ candidate.user.login }}" onclick="myAction( '{{ candidate.user.login }}' )" >Wyślij</button>

                </div>

            {% endfor %}
{% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

    <script>
        function myAction(valu){
            document.getElementById('Button'+valu).disabled = true;
            $.ajax({
                url: "{{ path('send_candidate_mail') }}",
                method: "post",
                dataType:"json",
                data: {
                    valu
                },
                success: function (buttonn) {
                    document.getElementById(buttonn).disabled = true;
                    alert('Propozycja wysłana!');

                },
                error: function(buttonn){
                    alert('Błąd wysyłania!');
                    document.getElementById(buttonn).disabled = false;

                }

                });
        }
    </script>

    <script>
        $(document).ready(function(){
            $.ajax({
                url: "{{ path('loadButton') }}",
                success: function (Buttonlist){

                    Array.prototype.forEach.call(Buttonlist, entry => {
                        document.getElementById(entry).disabled = true;
                    });

                }
            });
        });
        function disable(element, index, array) {
            document.getElementById("element").disabled = true;
            console.log("element");

        }
    </script>
    
{% endblock %}