{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dear Candidate please type some information about your new profile on our website.</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.login)}}
    {{ form_row(form.plainPassword) }}

    <button type="submit" class="btn"></button>
    {{ form_end(form) }}
{% endblock %}